// adaptive
@media screen and (max-width: 1366px){
	.mbox {max-width: 1000px;}

	.header { 
		&:before {top: 42px;}
		&-row { padding: 10px 0; }
		&-logo {max-width: 420px;}
		&-menu {
			ul { 
				li { padding: 0 13px 5px; }
			}
		}
		&-phones {
			a { font-size: 15px; line-height: 21px;}
			.el-button {margin-top: 15px;}
		}
		&-links { font-size: 14px; line-height: 20px;
			.links {padding-bottom: 10px;}
		}
		.catalogue { padding: 0px 14px 5px;
			li {
				&.parent {
					& > a {
						&:before {top: 3px;}
					}
				}
				a {font-size: 14px;}
			}
		}
	}

	.portfolio {
		&-wrap {
			li {height: 320px;}
		}
	}

	.reviews { padding: 25px 0 10px;
		&-slider {
			.slide {padding: 40px 30px;}
		}
		.slick-prev {left: 0;}
		.slick-next {right: 0;}
	}
}

@media screen and (max-width: 1024px){
	.mbox { max-width: 970px; }
}

@media screen and (max-width: 992px){
	.main {
		&.hide {z-index: -1;position: relative;}
	}

	.header { 
		.mbox {padding: 0 5px;}
		&:before {display: none;}
		&-burger {display: flex;}
		&-row { padding: 10px 0; align-items: center;}
		&-fixed {position: fixed; top: 0; left: -100%; width: 100%; height: 100vh; overflow-y: auto; background: #000; z-index: 10; flex-wrap: wrap; padding: 70px 5px 20px; transition: .3s ease-in-out; align-content: flex-start;
			&.active {left: 0;}
		}
		&-entrance { width: 100%; flex-direction: column; justify-content: center; padding: 0 20px;
			.entrance {margin: 0 auto;}
			.search {
				&-wrap { width: 100%; padding-right: 0; padding-bottom: 10px;
					a {display: none;}
					.search-form {position: relative; opacity: 1; pointer-events: auto; width: 100%; max-width: 100%; right: 0;}
				}
			}
		}
		&-logo {max-width: 420px; padding: 0 5px;}
		&-menu { width: 100%; padding-bottom: 15px;
			ul { flex-wrap: wrap; flex-direction: column; justify-content: center;
				li { padding: 0 13px 5px; 
					a {font-size: 14px;}
					&:not(:last-child) {
						border-right: 0;
					}
					&:nth-child(2) {padding-left: 13px;}
					&.catalogue {display: block;
						& > ul {display: none;
							& > li {
								&:nth-child(2) {padding-left: 20px;}
								ul {
									li {
										&:nth-child(2) {padding-left: 0px;}
									}
								}
							}
						}
					}
					&.parent {
						& > ul {pointer-events: auto; width: 100%; height: auto; display: none; position: relative;}
					}
				}
			}
		}
		&-phones { display: none; }
		&-links { font-size: 14px; line-height: 20px; width: 85px;
			p {display: none;}
			.links {padding-bottom: 10px; 
				a {width: 50px; 
					&.favourite {padding-right: 0;}
					.count { top: -3px; right: -3px;}
				}
			}
		}
		.catalogue { display: none; 
			ul {
				li.parent {
					& > ul {pointer-events: auto; width: 100%; height: auto; display: none; position: relative;
						li {
							a {padding: 0px 20px;}
						}
					}
					a {text-transform: none; line-height: 24px;
						&:before {top: 5px;}
					}
				}
			}
		}
	}

	.slider {
		.slick-prev {height: 34px; width: 34px; left: 2%;
			&:before {top: 10px; left: 13px;}
		}
		.slick-next {height: 34px; width: 34px; right: 2%;
			&:before {top: 10px; left: 8px;}
		}
		.slide {max-height: 340px;}
	}

	.portfolio-wrap li {height: 260px;}

	.reviews-slider .slide {padding: 30px 10px;}
}

@media screen and (max-width: 767px){
	.portfolio {
		&-wrap { justify-content: space-around;
			li { width: 49%;
				&.col-8 {width: 49%;}
			}
		}
	}

	.title {
		h1, h2, h3 {font-size: 18px;}
	}

	.reviews-slider {
		.slide {margin: 0 30px; transform: scale(1); box-shadow: none; border: 1px solid #ddd;
			&.slick-current {box-shadow: none; border: 1px solid #ddd;}
		}
		.slick-track {padding: 0;}
	}
}

@media screen and (max-width: 666px){
	.slider .slide { max-height: 250px; }
}

@media screen and (max-width: 479px){
	.header { 
		&-logo {max-width: 250px;}
		&-links { font-size: 14px; line-height: 20px; width: 65px;
			p {display: none;}
			.links {padding-bottom: 10px; 
				a {width: 25px; 
					svg {height: 25px; width: 25px;}
					&.favourite {padding-right: 0;}
					.count { top: -3px; right: -3px; min-width: 17px; height: 17px; font-size: 10px;}
				}
			}
		}
	}
	.slider .slide { max-height: 200px; }

	.portfolio {
		&-wrap {
			li { width: 100%;
				a {
					.desc {opacity: 1; font-size: 14px;
						&:after { width: 90%; height: 90%;}
						.desc-title { font-size: 20px;}
					}
				}
				&.col-8 {width: 100%;}
			}
		}
	}
	.reviews {
		&-slider {width: 100%;
		}
		.slick-prev {left: -10px;
			&:before {left: 7px;}
		}
		.slick-next {right: -10px;}
		.slide {margin: 0 10px; padding: 15px 5px;
			&-title {font-size: 14px; padding-bottom: 5px;	}
			&-desc {padding: 0; font-size: 13px; line-height: 16px;}
			&-date {padding-bottom: 10px;}
			&-name {font-size: 16px; padding-bottom: 5px;}
			&-pic {margin: 0 auto 10px;}
		}
	}
}
// /adaptive