/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:'DINPro',arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1;}
img{vertical-align:bottom;border:0;max-width:100%;}

h1, h2, h3, h4, h5, h6, p, ul, ol {margin: 0; padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;}

/* helping adds*/
.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* wraps styling*/

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1;padding: 0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/

.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#777;}
    &:-moz-placeholder {color:#777;opacity:1;}
    &::-moz-placeholder {color:#777;opacity:1;}
    &:-ms-input-placeholder {color:#777;}
}

/*fonts*/

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example->    @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);
@include font-face('DINPro', 'DINPro-Light', 300);
@include font-face('DINPro', 'DINPro-Regular', 400);
@include font-face('DINPro', 'DINPro-Medium', 600);

/*/fonts*/

/* /base styles */

/*End Layout*/

