// header
.header { background: #000; position: relative; 
	&:before {content: ''; position: absolute; top: 46px; left: 0; width: 100%; height: 1px; background: #2f2f2f;}
	&-row {padding: 14px 0; display: flex; justify-content: space-between; }
	&-menu {width: 50%; 
		ul {display: flex; justify-content: flex-start;
			li { padding: 0 19px 5px;
				&:nth-child(2) {padding-left: 0;}
				&.catalogue {display: none;}
				&:not(:last-child) { border-right: 1px solid #2f2f2f;}
				a { font-size: 12px; font-weight: 300; color: #fff; transition: .3s ease-in-out; letter-spacing: .3px;
					&:hover {color: #c2185b;}
				}
			}
		}
	}
	&-burger {display: none; width: 35px; height: 35px; cursor: pointer; padding: 0; z-index: 20; position: relative; margin-left: 0px; padding-top: 8px;
		&:hover { opacity: 1; }
		&.active { position: fixed; top: 25px; left: 5px;
			span { background: transparent; transition: .3s;
				&:before {transform: rotate(45deg); top: 0; transition: .3s;}
				&:after {transform: rotate(-45deg); bottom: 0; transition: .3s;}
			}
		}
		span {height: 4px; background: #fff; margin-top: 6px; transition: .3s; position: relative; width: 100%; display: block;
			&:before {content: ''; position: absolute; top: -10px; left: 0; height: 4px; width: 100%; background: #fff; transition: .3s;}
			&:after {content: ''; position: absolute; bottom: -10px; left: 0; height: 4px; width: 100%; background: #fff; transition: .3s;}
		}
	}
	&-entrance {width: 50%; display: flex; justify-content: flex-end;
		.search-wrap {position: relative; width: calc(100% - 67px); text-align: right; padding-right: 30px;
			svg { fill: #fff; transition: .3s ease-in-out; }
			a, button {
				&:hover {
					svg { fill: #c2185b; }
				}
			}
			button { border: 0; background-color: transparent; margin-left: 4px;}
			.search-form {position: absolute; top: 0; right: 24px; display: flex; justify-content: flex-end; width: 0; opacity: 0; max-width: 367px; z-index: -1; transition: .3s ease-in-out;
				&.active {width: 100%; z-index: 1; opacity: 1;}
				a {padding: 0 6px;}
				.form-field {width: 100%; margin-top: -2px;}
				input {border: 0; border-bottom: 1px solid #808080; border-radius: 0; padding: 0; font-size: 10px; color: rgba(255,255,255, .7); background-color: transparent; width: 100%; padding-bottom: 2px; letter-spacing: .2px;}
			}
		}
		.entrance {width: 67px; 
			a { font-weight: 300; font-size: 12px; color: #fff; transition: .3s ease-in-out; display: flex; align-items: center; justify-content: space-between;
				img { filter: grayscale(100%) brightness(600%); transition: .3s ease-in-out; }
				&:hover { color: #c2185b;
					img { filter: grayscale(0) brightness(100%); }
				}
			}
		}
	}
	&-phones {width: 165px; padding-top: 7px;
		a {display: block; color: #fff; font-size: 16px; line-height: 24px; transition: .3s ease-in-out; letter-spacing: .2px;
			&:hover {color: #c2185b;}
		}
		.el-button {margin-top: 20px; text-align: center; transition: .3s ease-in-out; font-size: 12px; text-transform: uppercase; color: #fff; padding: 4px 5px; min-width: 165px; border: 1px solid #c2185b;
			&:hover {color: #fff; background: #c1285b;}
		}
	}
	&-logo {padding-top: 13px;}
	&-links {width: 165px; font-weight: 300; font-size: 16px; line-height: 24px; color: #fff; text-align: right; padding-top: 13px; letter-spacing: .3px;
		.links {display: flex; padding-bottom: 15px; justify-content: space-between; 
			a { display: inline-block; width: 67px; text-align: center; text-transform: uppercase; font-weight: 300; font-size: 14px; color: #fff; position: relative; text-transform: none; line-height: 28px; letter-spacing: .3px;
				.count {position: absolute; top: -1px; right: 7px; display: flex; justify-content: center; align-items: center; min-width: 22px; height: 22px; color: #fff; border-radius: 50%; background: #c2185b; font-weight: 600; font-size: 14px;}
				svg { fill: #fff; width: 34px; height: 34px; transition: .3s ease-in-out; margin-bottom: -8px;}
				img { filter: grayscale(100%) brightness(600%); transition: .3s ease-in-out; }
				&.favourite { padding-top: 2px; padding-right: 7px;}
				&:hover { color: #c2185b;
					svg {fill: #c2185b; }
					img { filter: grayscale(0) brightness(100%); }
				}
			}
		}
	}
	.catalogue {width: 100%; display: flex; justify-content: space-around; align-items: center; padding: 7px 14px 9px;
		li { padding: 0 20px;
			&.parent { position: relative;
				& > a {position: relative;
					&:before {content: ''; position: absolute; top: 5px; left: 110%; width: 8px; height: 8px; border-bottom: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(45deg); transition: .3s ease-in-out; border-radius: 2px;}
				}
				&:hover {
					a:before {border-bottom: 2px solid #c2185b; border-right: 2px solid #c2185b;}
					& > ul {height: auto; opacity: 1; pointer-events: auto;}
				}
				& > ul { height: 0; pointer-events: none; opacity: 0; position: absolute; top: 100%; left: 0; width: 100%; background: #000;
					li {padding: 0;
						a {width: 100%; display: block; padding: 7px 20px;}
					}
				}
			}
			a {text-transform: uppercase; color: #fff; font-weight: 400; font-size: 16px; transition: .3s ease-in-out;
				&:hover {color: #c2185b;}
			}
		}
	}
}
// header