// main slider
.slider {
	.slide { height: 90vh; width: 100%; max-height: 576px;
		img { object-fit: cover; min-width: 100%; height: 100%;}
	}
	.slick-next { right: 12.5%; height: 44px; width: 44px; background: #fff;
		&:before {content: ''; position: absolute; top: 15px; left: 14px; width: 12px; height: 12px; border-radius: 3px; border-bottom: 2px solid #000; border-right: 2px solid #000; transform: rotate(-45deg); transition: .3s ease-in-out;}
		&:hover {
			&:before {border-color: #9e48a9; }
		}
	}
	.slick-prev { left: 12.5%; height: 44px; width: 44px; background: #fff; z-index: 1;
		&:before {content: ''; position: absolute; top: 15px; left: 18px; width: 12px; height: 12px; border-radius: 3px; border-bottom: 2px solid #000; border-right: 2px solid #000; transform: rotate(135deg); transition: .3s ease-in-out;}
		&:hover {
			&:before {border-color: #9e48a9; }
		}
	}
}
// main slider