// portfolio
.portfolio { 
	&-wrap { display: flex; justify-content: space-between; flex-wrap: wrap; padding: 10px 0;
		li { width: calc(33% - 5px); margin-bottom: 10px; height: 380px; overflow: hidden;
			&.col-8 {width: calc(67% - 5px);}
			a {display: block; position: relative; width: 100%; height: 100%;
				img {object-fit: cover; min-height: 100%; min-width: 100%;}
				.desc {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: 0s; display: block; font-weight: 300; font-size: 0; line-height: 18px; color: #fff; display: flex; justify-content: center; align-content: center; flex-wrap: wrap; transition: .5s; transition-delay: 0s;
					&:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); z-index: 0;}
					&:after {content: ''; position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); width: 0; height: 0; border: 1px solid rgba(255,255,255, .7); transition: 0s; transition-delay: 0s;}
					.desc-title {font-size: 0; text-transform: uppercase; color: #fff; margin-bottom: 15px; z-index: 1; transition: 0s; transition-delay: 0s; line-height: 1; width: 100%; text-align: center; letter-spacing: .2px;}
					span {z-index: 1;}
				}
				.shape { fill: transparent; stroke-dasharray: 500; stroke-dashoffset: 500; stroke-width: 0; stroke: rgba(255, 255, 255, 1);;}
				&:hover { 
					.desc-title {font-size: 20px; transition-delay: .1s; transition: .5s;}
					.desc { opacity: 1; font-size: 14px; transition: .3s; transition-delay: .1s;
						&:after {width: 90%; height: 90%; transition: .5s; transition-delay: .1s;}
					}
				}
			}
		}
	}
}
// /portfolio