// reviews
.title {position: relative; width: 100%; text-align: center; padding-bottom: 17px;
	&:before {content:''; position: absolute; top: 100%; left:0; width: 100%; height: 2px; background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(89,89,89,1) 31%, rgba(0,0,0,1) 50%, rgba(89,89,89,1) 70%, rgba(245,245,245,1) 100%);}
	h1, h2, h3 {text-transform: uppercase; color: #000; font-weight: 400; font-size: 24px;}
}

.reviews {padding: 46px 0;
	&-wrap {padding-top: 10px;}
	&-slider {width: 90%; max-width: 930px; margin: 0 auto; 
		.slick-track {padding: 76px 0;}
		.slide {width: 392px; padding: 75px 40px; text-align: center; box-shadow: -5px 0px 11.64px 0.36px rgba(112, 112, 112, 0.5); transition: .3s ease-in-out; background: #fff; transform: scale(.8); margin: 0 -60px;
			&.slick-slide {position: relative; z-index: 6; opacity: 0;}
			&.slick-active {opacity: .4;}
			&.slick-current {opacity: 1; transform: scale(1); box-shadow: 0px 0px 83.64px 10px rgba(112, 112, 112, 0.5); z-index: 9999 !important; background: #fff;
				&:hover {opacity: 1;}
			}
			&.slick-current + &.slick-active {z-index: 8 !important; background: #f00;}
			&-pic {border-radius: 50%; transition: .3s ease-in-out; overflow: hidden; width: 140px; height: 140px; margin: 0 auto 17px;
				img {object-fit: cover; min-width: 100%; min-height: 100%;}
			}
			&-name {font-weight: 600; font-size: 18px; color: #c2185b; padding-bottom: 12px; letter-spacing: .3px;}
			&-date {font-weight: 300; font-size: 12px; color: #919191; padding-bottom: 25px;} 
			&-title {font-weight: 300; font-size: 18px; color: #000; padding-bottom: 16px;}
			&-desc {font-weight: 300; font-size: 14px; line-height: 18px; color: #474747; padding: 0 30px;}
			&:hover {opacity: .5;
				.slide-pic {border-radius: 0; width: 195px; }
			}
		}
	}
	.slick-next { right: -93px;
		&:before {content: ''; position: absolute; top: 2px; left: -2px; width: 15px; height: 15px; border-radius: 3px; border-bottom: 2px solid #777; border-right: 2px solid #777; transform: rotate(-45deg); transition: .3s ease-in-out;}
		&:hover {
			&:before {border-color: #090909; }
		}
	}
	.slick-prev { left: -93px;
		&:before {content: ''; position: absolute; top: 2px; left: -2px; width: 15px; height: 15px; border-radius: 3px; border-bottom: 2px solid #777; border-right: 2px solid #777; transform: rotate(135deg); transition: .3s ease-in-out;}
		&:hover {
			&:before {border-color: #090909; }
		}
	}
}
// /reviews