<!-- HEADER -->
<header class="header">
	<div class="mbox">
		<div class="header-row header-fixed">
			<div class="header-menu">
				<ul>
					<li class="catalogue"><a href="#">Каталог</a>
						<ul>
							<li><a href="#">Парфюмерия</a>
								<ul>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
								</ul>
							</li>
							<li><a href="#">Глаза</a>
								<ul>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
								</ul>
							</li>
							<li><a href="#">Губы</a>
								<ul>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
								</ul>
							</li>
							<li><a href="#">Лицо</a>
								<ul>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
								</ul>
							</li>
							<li><a href="#">Ногти</a>
								<ul>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
								</ul>
							</li>
							<li><a href="#">бренды</a>
								<ul>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
									<li><a href="3">Item</a></li>
								</ul>
							</li>
							<li><a href="#">Акции</a></li>
						</ul>
					</li>
					<li><a href="#">О нас</a></li>
					<li><a href="#">Новости</a></li>
					<li><a href="#">Доставка и оплата</a></li>
					<li><a href="#">Партнерам</a></li>
					<li><a href="#">Контакты</a></li>
				</ul>
			</div>
			<div class="header-entrance">
				<div class="search-wrap">
					<a href="#" class="open_search"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966; width: 17px; height: 17px;" xml:space="preserve"><g><path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21 c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279 C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19 S32.459,40,21.983,40z"/></g></svg></a>
					<form action="ajax.php" class="search-form search_form">
						<div class="form-field"><input type="text" name="search" placeholder="Поиск продукции..."></div>
						<button type="submit"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966; width: 17px; height: 17px;" xml:space="preserve"><g><path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21 c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279 C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19 S32.459,40,21.983,40z"/></g></svg></button>
					</form>
				</div>
				<div class="entrance">
					<a href="#">
						<span><img src="images/user.png" alt=""></span>
						<p>Войти</p>
					</a>
				</div>
			</div>
		</div>
		<div class="header-row">
			<a href="#" class="header-burger"><span></span></a>
			<div class="header-phones">
				<a href="tel:+38(063)136-31-36">+38 (063) 136-31-36</a>
				<a href="tel:+38(096)581-50-10">+38 (096) 581-50-10</a>
				<a href="tel:+38(063)111-38-40">+38 (063) 111-38-40</a>
				<a href="#" class="el-button">Заказать звонок</a>
			</div>
			<div class="header-logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
			<div class="header-links">
				<div class="links">
					<a href="#" class="favourite">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 333.701 333.701" style="enable-background:new 0 0 333.701 333.701;" xml:space="preserve"><g><path d="M166.828,312.996L25.932,172.101c-34.576-34.576-34.576-90.837,0-125.42C42.681,29.933,64.95,20.704,88.639,20.704 s45.965,9.229,62.713,25.977l15.476,15.476l15.476-15.476c16.748-16.748,39.024-25.977,62.713-25.977s45.952,9.229,62.707,25.977 c16.755,16.748,25.977,39.024,25.977,62.713s-9.229,45.958-25.977,62.707L166.828,312.996z M88.639,33.558 c-20.257,0-39.3,7.892-53.619,22.211c-29.563,29.57-29.563,77.675,0,107.245l131.814,131.808l131.802-131.808 c14.325-14.325,22.211-33.362,22.211-53.619s-7.892-39.3-22.211-53.626c-14.325-14.325-33.362-22.211-53.619-22.211 s-39.3,7.892-53.626,22.211l-24.563,24.563l-24.563-24.563C127.939,41.45,108.896,33.558,88.639,33.558z"/></g></svg>
						<span class="count">2</span>
					</a>
					<a href="#" class="basket">
						<img src="images/basket.png" alt="">
						<span class="count">3</span>
						<p>1 000 грн.</p>
					</a>
				</div>
				<p>Время работы:</p>
				<p>Пн-Вс с 6:00 до 18:00</p>
			</div>
		</div>
		<div class="header-row">
			<ul class="catalogue">
				<li><a href="#">Парфюмерия</a>
					<ul>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
					</ul>
				</li>
				<li><a href="#">Глаза</a>
					<ul>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
					</ul>
				</li>
				<li><a href="#">Губы</a>
					<ul>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
					</ul>
				</li>
				<li><a href="#">Лицо</a>
					<ul>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
					</ul>
				</li>
				<li><a href="#">Ногти</a>
					<ul>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
					</ul>
				</li>
				<li><a href="#">бренды</a>
					<ul>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
						<li><a href="3">Item</a></li>
					</ul>
				</li>
				<li><a href="#">Акции</a></li>
			</ul>
		</div>
	</div>
</header>
<!-- /HEADER -->

