<div class="portfolio">
	<div class="mbox">
		<ul class="portfolio-wrap">
			<li>
				<a href="#">
					<img src="images/portfolio1.png" alt="">
					<span class="desc">
						<span class="desc-title">Косметика для лица</span>
						<span>Lorem Ipsum - это текст-"рыба", часто <br>используемый в печати и вэб-дизайне. <br>Lorem Ipsum является стандартной <br>"рыбой" для текстов на латинице с <br> начала XVI века.</span>
					</span>
				</a>
			</li>
			<li class="col-8">
				<a href="#">
					<img src="images/portfolio2.png" alt="">
					<span class="desc">
						<span class="desc-title">Косметика для лица</span>
						<span>Lorem Ipsum - это текст-"рыба", часто <br>используемый в печати и вэб-дизайне. <br>Lorem Ipsum является стандартной <br>"рыбой" для текстов на латинице с <br> начала XVI века.</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/portfolio3.png" alt="">
					<span class="desc">
						<span class="desc-title">Косметика для лица</span>
						<span>Lorem Ipsum - это текст-"рыба", часто <br>используемый в печати и вэб-дизайне. <br>Lorem Ipsum является стандартной <br>"рыбой" для текстов на латинице с <br> начала XVI века.</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/portfolio4.png" alt="">
					<span class="desc">
						<span class="desc-title">Косметика для лица</span>
						<span>Lorem Ipsum - это текст-"рыба", часто <br>используемый в печати и вэб-дизайне. <br>Lorem Ipsum является стандартной <br>"рыбой" для текстов на латинице с <br> начала XVI века.</span>
					</span>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/portfolio5.png" alt="">
					<span class="desc">
						<span class="desc-title">Косметика для лица</span>
						<span>Lorem Ipsum - это текст-"рыба", часто <br>используемый в печати и вэб-дизайне. <br>Lorem Ipsum является стандартной <br>"рыбой" для текстов на латинице с <br> начала XVI века.</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
</div>