<div class="reviews">
	<div class="mbox">
		<div class="title">
			<h2>ОТЗЫВЫ НАШИХ ПОКУПАТЕЛЕЙ</h2>
		</div>
		<div class="reviews-wrap">
			<div class="reviews-slider">
				<div class="slide">
					<div class="slide-pic"><img src="images/woman.png" alt=""></div>
					<div class="slide-name">Надежда Галицкая</div>
					<div class="slide-date">10.04.2017</div>
					<div class="slide-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
					<div class="slide-desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</div>
				</div>
				<div class="slide">
					<div class="slide-pic"><img src="images/woman.png" alt=""></div>
					<div class="slide-name">Надежда Галицкая</div>
					<div class="slide-date">10.04.2017</div>
					<div class="slide-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
					<div class="slide-desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</div>
				</div>
				<div class="slide">
					<div class="slide-pic"><img src="images/woman.png" alt=""></div>
					<div class="slide-name">Надежда Галицкая</div>
					<div class="slide-date">10.04.2017</div>
					<div class="slide-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
					<div class="slide-desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</div>
				</div>
				<div class="slide">
					<div class="slide-pic"><img src="images/woman.png" alt=""></div>
					<div class="slide-name">Надежда Галицкая</div>
					<div class="slide-date">10.04.2017</div>
					<div class="slide-title">LA RIVE SWAROVSKI PEARL WOMAN</div>
					<div class="slide-desc">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</div>
				</div>
			</div>
		</div>
	</div>
</div>