//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
    <div class="main">
        <!-- add partials here -->
        //= partials/main-slider.html
        //= partials/portfolio.html
        //= partials/reviews.html
    </div>
    <!-- /MAIN -->
</div>

//= partials/scripts.html

</body>
</html>